/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    color: #BABABA;
}


/* The whole bar */
window#waybar {
    margin: 100px;
    color: #262626;
    background-color: #262626;
    font-family: "Visitor_Rus";
    font-size: 20px;
    border-radius: 0px;
}

window#left {
    margin-right: 20px;
}
window#center {
    margin-left: 20px;
    margin-right: 20px;
}

window#right {
    margin-left: 20px;
}

/* -----------------------------------------------------------------------------
 * Every module
 * -------------------------------------------------------------------------- */

#workspaces,
#mode,
#window,
#tray,
#backlight,
#wireplumber,
#network,
#memory,
#cpu,
#battery,
#clock {
    margin-left: 15px;
    margin-right: 15px;
    }

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#clock {
    margin-right: 0px;
}

#workspaces {
    margin-left: 0px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left: 5px;
    padding-right: 5px;
}

#network.disconnected {
    color: orange;
}

#workspaces button {
    color: #8D8D8D;
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
}

#workspaces button.active {
    color: #8D8D8D;
    border-bottom: 3px solid #8D8D8D;
    margin-bottom: 1px;
}

#workspaces button.urgent {
    color: #8D8D8D;
    border-bottom: #8D8D8D;
}

